.DS_Store
.vscode/
.compile_commands.json
.cache/
build/
examples
*.o
*.a
*.dSYM
# include/voro++/*.hh
bin/
man/man1/voro++.1
# src/voro++
src/voro++
html/annotated.html
html/bc_s.png
html/bc_sd.png
html/bdwn.png
html/c__info_8hh_source.html
html/c__info_8hh.html
html/cell__2d_8cc_source.html
html/cell__2d_8cc.html
html/cell__2d_8hh_source.html
html/cell__2d_8hh.html
html/cell__3d_8cc_source.html
html/cell__3d_8cc.html
html/cell__3d_8hh_source.html
html/cell__3d_8hh.html
html/classes.html
html/classvoro_1_1container__2d.html
html/classvoro_1_1container__2d.png
html/classvoro_1_1container__3d.html
html/classvoro_1_1container__3d.png
html/classvoro_1_1container__base__2d_1_1iterator__order.html
html/classvoro_1_1container__base__2d_1_1iterator__order.png
html/classvoro_1_1container__base__2d_1_1iterator__subset.html
html/classvoro_1_1container__base__2d_1_1iterator__subset.png
html/classvoro_1_1container__base__2d_1_1iterator.html
html/classvoro_1_1container__base__2d_1_1iterator.png
html/classvoro_1_1container__base__2d.html
html/classvoro_1_1container__base__2d.png
html/classvoro_1_1container__base__3d_1_1iterator__order.html
html/classvoro_1_1container__base__3d_1_1iterator__order.png
html/classvoro_1_1container__base__3d_1_1iterator__subset.html
html/classvoro_1_1container__base__3d_1_1iterator__subset.png
html/classvoro_1_1container__base__3d_1_1iterator.html
html/classvoro_1_1container__base__3d_1_1iterator.png
html/classvoro_1_1container__base__3d.html
html/classvoro_1_1container__base__3d.png
html/classvoro_1_1container__poly__2d.html
html/classvoro_1_1container__poly__2d.png
html/classvoro_1_1container__poly__3d.html
html/classvoro_1_1container__poly__3d.png
html/classvoro_1_1container__triclinic__base_1_1iterator__order.html
html/classvoro_1_1container__triclinic__base_1_1iterator__order.png
html/classvoro_1_1container__triclinic__base_1_1iterator.html
html/classvoro_1_1container__triclinic__base_1_1iterator.png
html/classvoro_1_1container__triclinic__base.html
html/classvoro_1_1container__triclinic__base.png
html/classvoro_1_1container__triclinic__poly.html
html/classvoro_1_1container__triclinic__poly.png
html/classvoro_1_1container__triclinic.html
html/classvoro_1_1container__triclinic.png
html/classvoro_1_1particle__list__base.html
html/classvoro_1_1particle__list__base.png
html/classvoro_1_1particle__list2.html
html/classvoro_1_1particle__list2.png
html/classvoro_1_1particle__list3.html
html/classvoro_1_1particle__list3.png
html/classvoro_1_1particle__list4.html
html/classvoro_1_1particle__list4.png
html/classvoro_1_1particle__order.html
html/classvoro_1_1radius__mono.html
html/classvoro_1_1radius__mono.png
html/classvoro_1_1radius__poly__2d.html
html/classvoro_1_1radius__poly__2d.png
html/classvoro_1_1radius__poly__3d.html
html/classvoro_1_1radius__poly__3d.png
html/classvoro_1_1subset__info__2d.html
html/classvoro_1_1subset__info__3d.html
html/classvoro_1_1unitcell.html
html/classvoro_1_1unitcell.png
html/classvoro_1_1voro__base__2d.html
html/classvoro_1_1voro__base__2d.png
html/classvoro_1_1voro__base__3d.html
html/classvoro_1_1voro__base__3d.png
html/classvoro_1_1voro__compute__2d.html
html/classvoro_1_1voro__compute__3d.html
html/classvoro_1_1voronoicell__2d.html
html/classvoro_1_1voronoicell__2d.png
html/classvoro_1_1voronoicell__3d.html
html/classvoro_1_1voronoicell__3d.png
html/classvoro_1_1voronoicell__base__2d.html
html/classvoro_1_1voronoicell__base__2d.png
html/classvoro_1_1voronoicell__base__3d.html
html/classvoro_1_1voronoicell__base__3d.png
html/classvoro_1_1voronoicell__neighbor__2d.html
html/classvoro_1_1voronoicell__neighbor__2d.png
html/classvoro_1_1voronoicell__neighbor__3d.html
html/classvoro_1_1voronoicell__neighbor__3d.png
html/classvoro_1_1wall__2d.html
html/classvoro_1_1wall__2d.png
html/classvoro_1_1wall__3d.html
html/classvoro_1_1wall__3d.png
html/classvoro_1_1wall__list__2d.html
html/classvoro_1_1wall__list__2d.png
html/classvoro_1_1wall__list__3d.html
html/classvoro_1_1wall__list__3d.png
html/closed.png
html/common_8cc_source.html
html/common_8cc.html
html/common_8hh_source.html
html/config_8hh_source.html
html/config_8hh.html
html/container__2d_8cc_source.html
html/container__2d_8cc.html
html/container__2d_8hh_source.html
html/container__2d_8hh.html
html/container__3d_8cc_source.html
html/container__3d_8cc.html
html/container__3d_8hh_source.html
html/container__3d_8hh.html
html/container__tri_8cc_source.html
html/container__tri_8hh_source.html
html/container__tri_8hh.html
html/doc.png
html/docd.png
html/doxygen.css
html/doxygen.svg
html/dynsections.js
html/files.html
html/folderclosed.png
html/folderopen.png
html/form_0_dark.png
html/form_0.png
html/form_1_dark.png
html/form_1.png
html/form_2_dark.png
html/form_2.png
html/form_3_dark.png
html/form_3.png
html/form_4_dark.png
html/form_4.png
html/form_5_dark.png
html/form_5.png
html/form_6_dark.png
html/form_6.png
html/form_7_dark.png
html/form_7.png
html/form_8_dark.png
html/form_8.png
html/form_9_dark.png
html/form_9.png
html/formula.repository
html/functions_~.html
html/functions_b.html
html/functions_c.html
html/functions_d.html
html/functions_e.html
html/functions_f.html
html/functions_func_~.html
html/functions_func_b.html
html/functions_func_c.html
html/functions_func_d.html
html/functions_func_e.html
html/functions_func_f.html
html/functions_func_g.html
html/functions_func_i.html
html/functions_func_m.html
html/functions_func_n.html
html/functions_func_o.html
html/functions_func_p.html
html/functions_func_r.html
html/functions_func_s.html
html/functions_func_t.html
html/functions_func_u.html
html/functions_func_v.html
html/functions_func_w.html
html/functions_func.html
html/functions_g.html
html/functions_h.html
html/functions_i.html
html/functions_l.html
html/functions_m.html
html/functions_n.html
html/functions_o.html
html/functions_p.html
html/functions_q.html
html/functions_r.html
html/functions_s.html
html/functions_t.html
html/functions_u.html
html/functions_v.html
html/functions_vars.html
html/functions_w.html
html/functions_x.html
html/functions_y.html
html/functions_z.html
html/functions.html
html/globals_defs.html
html/globals.html
html/hierarchy.html
html/index.html
html/iter__2d_8cc_source.html
html/iter__2d_8hh_source.html
html/iter__2d_8hh.html
html/iter__3d_8cc_source.html
html/iter__3d_8hh_source.html
html/iter__3d_8hh.html
html/jquery.js
html/menu.js
html/menudata.js
html/nav_f.png
html/nav_fd.png
html/nav_g.png
html/nav_h.png
html/nav_hd.png
html/open.png
html/particle__list_8cc_source.html
html/particle__list_8cc.html
html/particle__list_8hh_source.html
html/particle__list_8hh.html
html/particle__order_8hh_source.html
html/particle__order_8hh.html
html/rad__option_8hh_source.html
html/rad__option_8hh.html
html/splitbar.png
html/splitbard.png
html/structvoro_1_1c__info.html
html/structvoro_1_1particle__record__2d.html
html/structvoro_1_1particle__record__3d.html
html/structvoro_1_1wall__circle.html
html/structvoro_1_1wall__circle.png
html/structvoro_1_1wall__cone.html
html/structvoro_1_1wall__cone.png
html/structvoro_1_1wall__cylinder.html
html/structvoro_1_1wall__cylinder.png
html/structvoro_1_1wall__line.html
html/structvoro_1_1wall__line.png
html/structvoro_1_1wall__plane.html
html/structvoro_1_1wall__plane.png
html/structvoro_1_1wall__sphere.html
html/structvoro_1_1wall__sphere.png
html/sync_off.png
html/sync_on.png
html/tab_a.png
html/tab_ad.png
html/tab_b.png
html/tab_bd.png
html/tab_h.png
html/tab_hd.png
html/tab_s.png
html/tab_sd.png
html/tabs.css
html/unitcell_8cc_source.html
html/unitcell_8cc.html
html/unitcell_8hh_source.html
html/unitcell_8hh.html
html/v__base__2d_8cc_source.html
html/v__base__2d_8cc.html
html/v__base__2d_8hh_source.html
html/v__base__3d_8cc_source.html
html/v__base__3d_8cc.html
html/v__base__3d_8hh_source.html
html/v__base__3d_8hh.html
html/v__base__wl__2d_8cc_source.html
html/v__base__wl__2d_8cc.html
html/v__base__wl__3d_8cc_source.html
html/v__base__wl__3d_8cc.html
html/v__compute__2d_8cc_source.html
html/v__compute__2d_8cc.html
html/v__compute__2d_8hh_source.html
html/v__compute__3d_8cc_source.html
html/v__compute__3d_8cc.html
html/v__compute__3d_8hh_source.html
html/v__compute__3d_8hh.html
html/voro_09_09_8cc_source.html
html/voro_09_09_8cc.html
html/voro_09_09_8hh_source.html
html/voro_09_09_8hh.html
html/wall__2d_8cc_source.html
html/wall__2d_8cc.html
html/wall__2d_8hh_source.html
html/wall__2d_8hh.html
html/wall__3d_8cc_source.html
html/wall__3d_8cc.html
html/wall__3d_8hh_source.html
html/wall__3d_8hh.html
html/wall_8cc_source.html
html/wall_8cc.html
html/wall_8hh_source.html
html/wall_8hh.html
html/worklist__2d_8hh_source.html
html/worklist__2d_8hh.html
html/worklist__3d_8hh_source.html
html/worklist__3d_8hh.html
